{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script>
    $(function () {

        $('#changePassForm').validate({
            rules: {
                newpassword: {
                    required: true,
                    minlength: 6
                },
                confirm: {
                    required: true,
                    equalTo: $('[name="newpassword"]')
                },
            },
            messages: {
                newpassword: {
                    required: 'Please enter a valid new password.',
                    minlength: 'Your password must have at least 6 characters.'
                },
                confirm: {
                    required: 'Please try again! Your password does not match.',
                    equalTo: 'Your password does not match. Please try again!'
                },
            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    })
</script>
{{/section}}

<div class="body_main">
    <div class="wrap">
        <div class="header-main">
            <h2>Change Password</h2>
            <div class="header-bottom">
                <div class="header-right w3agile">
                    <div class="header-left-bottom agileinfo">
                        {{#if err_message}}
                        <div class="alert alert-warning alert-dismissible fade show justify-content-center"
                            role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{err_message}}
                        </div>
                        {{/if}}

                        <form novalidate action="/account/updatepass" method="POST" id="changePassForm">
                            <div class="icon1">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <input type="password" placeholder="Old Password" id="txtOldPassword"
                                    name="oldpassword">
                            </div>
                            <div class="icon1">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <input type="password" placeholder="New Password" id="txtNewPassword"
                                    name="newpassword">
                            </div>
                            <div class="icon1">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <input type="password" placeholder="Confirm" id="txtConfirm" name="confirm">
                            </div>
                            <div class="bottom">
                                <input type="submit" value="Change" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>