{{!-- <span class="logo sm-logo">@titom?</span> --}}
<div class="logo sm-logo">
    <a href="/"><span >@titom?</span></a>
</div>
<span class="text-md des-info">@develope by team titom?</span>
<div id="footer-btn-group">
    <button type="button" class="btn btn-light btn-lg">Giới Thiệu</button>
    <button type="button" class="btn btn-light btn-lg">Liên Hệ</button>
    <button type="button" class="btn btn-light btn-lg">Quảng Cáo</button>
</div>