<footer id="footer">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2 justify-content-center">
                <a href="/" class="logo"><span class="logo-titom">@titom?</span></a>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="footer-bottom row">
            <div class="col-md-6 col-md-pull-6">
                <div class="footer-copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with by <a href="https://colorlib.com"
                        target="_blank">Titom</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
            <div class="col-md-6 col-md-push-6">
                <ul class="footer-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About Us</a></li>
                    <li><a href="/">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>