<div id="a" class="container-fluid">
    <span class="logo">@titom?</span>
    <div class="search-account">
        <i class="search-icon fas fa-search"></i>
        <input class="search-box" type="text" placeholder="search"></input>
        <i class="account-icon fas fa-user"></i>
    </div>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top justify-content-center">
    <ul class="navbar-nav">
        {{#each lcCateGroup as |gr|}}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{{gr.name}}</a>
            <div class="dropdown-menu">
                {{#forCate gr lcCateSmall}}
                {{this}}
                {{/forCate}}
            </div>
        </li>
        {{/each}}
    </ul>
</nav>