/*  SHOULDNT TOUCH DOUCHEBAGS*/
body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
.framed{
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 100% 150px;
    grid-gap: 5px;
    grid-template-areas:
        ". h h h h h h h h h h ."
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

/* HEADER */
#h{
    grid-area: h;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#a{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
#logo{
    font-family: 'Dokdo', cursive;
    font-size: 3.5rem;
    letter-spacing: 1px;
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    margin: 

}
/* END HEADER */

/* MENU */
#m{
    grid-area: m; 
    display: flex;
}
.menu-active{
}
#m > a {
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    flex: 1;
}
#m > a:hover{

}
#search-account{
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-end;
    padding: 0 5px;
    align-items: flex-end;  
}
#search-box{
    all: unset;
    align-self: flex-end;
    border-bottom: 1px solid black;
    padding: 10px 5px;
}
#search-icon{
    margin-bottom: 10px;
}
#account-icon{
    align-self: flex-end;
    font-size: 1.5rem;
    margin-left: 15px;
}

/* END MENU */

/* LIST NEWS*/

.list_news{
	padding: 5px;
	margin: 15px;
	height: 160px;
	width: 600px
}

.art {
	border: 1px solid grey;
	padding: 2px;
}

a {
	color: #000;
	transition: all 0.15s;

}

a:hover {
	color: #C5B5D3FF;
	text-decoration: none;

}

/* END LIST NEWS */

body{
	background-color: #eee;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-toggle::after{
	display: none;
}

.navbar-nav .nav-item{
	margin-left: 25px;
}

.nongsan-container .row{
	margin-top: 15px;
	border-bottom: 1px dotted #e2e2e3;

}

.breadcrumb{
	background-color: transparent;
}

.category{
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, 0.08);
}

.category-list{
	list-style: none;
	padding:0;
	margin: 0;
}

.category-list li{
	margin-bottom: 15px;
}