/*  SHOULDNT TOUCH DOUCHEBAGS*/
body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
.framed{
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 100% 150px;
    grid-gap: 2%;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

/* HEADER */
#h{
    grid-area: h;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}
#a{
    display: flex;
    justify-content: space-between;
}
#logo{
    font-family: 'Dokdo', cursive;
    font-size: 3.5rem;
    letter-spacing: 1px;
    user-select: none;
    cursor: pointer;
    font-weight: 400;
}
/* END HEADER */
/* Nav-bar*/
#m{	
    grid-area: m; 	
    display: flex;	
}	
.menu-active{	
}	
#m > a {	
    color: black;	
    text-decoration: none;	
    text-align: center;	
    cursor: pointer;	
    flex: 1;	
}	
#m > a:hover{	

 }
/* MENU */
#search-account{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 0 5px;
    align-items: flex-end;  
}
#search-box{
    all: unset;
    align-self: flex-end;
    border-bottom: 1px solid black;
    padding: 10px 5px;
}
#search-icon{
    margin-bottom: 10px;
}
#account-icon{
    align-self: flex-end;
    font-size: 1.5rem;
    margin-left: 15px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-toggle::after{
    display: none;
}

.navbar-nav .nav-item{
    margin-left: 25px;
}


/* End of MENU */
#c{
    grid-area: c;
    /*background-color: yellowgreen;*/
    overflow: hidden;
}
#f{
    grid-area: f;
    background-color: steelblue;
}

/* ARTICLE - PAGE */
#article{

}
.md-width{
    width: 70%;
    margin: auto;
}
.sm-width{
    width: 50%;
    margin: auto;
}
#article-img{
    width: 100%;
}
#author-container{
    display: flex;
    margin-top: 2vw;
}
.circle-img{
    border-radius: 50%;
}
.info{
    margin-left: 1vw;
}
#article-img{
    margin-top: 3vw;
}
#article-body{
    margin-top: 6vw;
}
#comment{
    margin-top: 6vw;
}
.pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
}
.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}
.author-info{
    padding: 1vw;
}
#left-comment{
    flex: 6;
    border-right: 1px solid black;
}
#right-comment{
    flex: 4;
}
