/*  SHOULDNT TOUCH DOUCHEBAGS*/
body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
/* use grid template to be responsive */
.framed{
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 350px 50px;
    grid-gap: 5px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "m m c c c c c c c c c c"
        "f f f f f f f f f f f f";
}
#h{
    grid-area: h;
    background-color: aqua;
}
#m{
    grid-area: m;
    background-color: blueviolet;
}
#c{
    grid-area: c;
    background-color: yellowgreen;
}
#f{
    grid-area: f;
    background-color: steelblue;
}