{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/css/error.css">
{{/section}}

{{#section 'js'}}
<script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
{{/section}}

<div class="agileits-main">
    <div class="agileinfo-row">
        <div class="w3top-nav">
            <div class="w3top-nav-left">
                <h1><a href="/error">Page Not Found</a></h1>
            </div>
            <div class="clear"></div>
        </div>
        <div class="w3layouts-errortext">
            <img src="/images/index/404.png" alt="" />
            <h2>Sorry! The page you were looking for could not be found </h2>
            <p class="w3lstext">You have been tricked into click on a link that can not be found. Please check the url
                or go to main page and see if you can locate what you are looking for </p>
            <div class="agile-search">
                <a href="/"><button class="btn">Back home</button></a>
            </div>
        </div>
    </div>
</div>