{{#section 'css'}}
<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckeditor/samples/js/sample.js"></script>
{{/section}}
<script>
    n = new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    rs = y + "/" + m + "/" + d;
    document.getElementById("publish_date").value = rs;
</script>
{{#section 'js'}}
<script>
    initSample();
</script>
{{/section}}

<div class="container mt-4">
    <h1 class="display-1 text-center mb-4">QUẢN LÝ BÀI VIẾT</h1>
    <div class="row">
        <div class="col ">
            <div class="card" style="width: 15rem;">
                <div class="card-header">
                    Chức năng
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item "><a href="/writer">Danh sách bài viết</a></li>
                    <li class="list-group-item active"><a href="/writer/newpost">Đăng bài</a></li>
                    <li class="list-group-item"><a href="/writer/publishedpost">Bài viết đã duyệt</a></li>
                    <li class="list-group-item"><a href="/writer/pendingpost">Bài viết chờ duyệt</a></li>
                    <li class="list-group-item"><a href="/writer/bannedpost">Bài viết không được duyệt</a></li>
                </ul>
            </div>

        </div>
        <div class="col-9">

            <div class="card mb-4">
                <div class="card-header">
                    Viết bài
                </div>
                <div class="card-body">
                    <form action="/writer/newpmost" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" class="form-control" name="title" id="" required="required"
                                placeholder="Enter title">
                        </div>
                        <div class="form-group">
                            <label for="">Abstract dody</label>
                            <input type="text" class="form-control" name="abstract_body" required="required" id=""
                                placeholder="Enter abstract">
                        </div>
                        <div class="form-group">
                            <label for="">Category</label>
                            <select class="custom-select" name="category_id" id="">
                                {{#forCateInWriter lcCateGroup lcCateSmall}}
                                {{this}}
                                {{/forCateInWriter}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Tag</label>
                            <div class="d-flex flex-wrap justify-content-start">
                                {{#each lcTags}}
                                <div class="input-group mb-3" style="width: 25%">
                                    <div class="input-group-text">
                                        <input type="checkbox" name="tags" value="{{id}}">
                                    </div>&nbsp
                                    <label>{{name}}</label>
                                </div>
                                {{/each}}



                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Big image</label>
                            <input type="file" class="form-control-file" id="" name="image_url">
                        </div>
                        <div class="form-group">
                            <label for="">Body</label>
                            <textarea id="editor" required="required" name="full_body"></textarea>
                        </div>
                        <input type="hidden" id="" name="publish_date">
                        <input type="hidden" id="" name="thumbnail_url" value="">
                        <input type="hidden" id="" name="status" value="0">
                        <input type="hidden" id="" name="view" value="0">
                        <input type="hidden" id="" name="user_id" value="0">
                        <input type="hidden" id="" name="isdeleted" value="0">
                        <input type="hidden" id="" name="ispremium" value="0">
                        <button type="submit" class="btn btn-primary float-right"><i class="fa fa-cloud-upload"></i>
                            Đăng bài</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>