<div class="container danhsach-container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active">Library</li>
		</ol>

		<div class="row ">
			<div class="col-6">
				<div class="row highlight" style="padding-left: 15px;">					
					<img  id="img1" class="art img-fluid" src="../public/../public/images/news_image_1.png" alt="Uniben đầu tư xây dựng thêm một nhà máy thực phẩm hiện đại">
					<div class="card-img-overlay" style="height: 33%">
						<h4 class="card-title">John Doe</h4>
						<p class="card-text">Some example text.</p>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-6 highlight">
						<img  class="art img-fluid" src="../public/images/news_image_1.png" alt="Uniben đầu tư xây dựng thêm một nhà máy thực phẩm hiện đại">
						<div class="card-img-overlay">
						<h4 class="card-title">John Doe</h4>
						<p class="card-text">Some example text.</p>
					</div>
					</div>
					<div class="col-6 highlight">
						<img class="art img-fluid" src="../public/images/news_image_1.png" alt="Uniben đầu tư xây dựng thêm một nhà máy thực phẩm hiện đại">
						<div class="card-img-overlay">
						<h4 class="card-title">John Doe</h4>
						<p class="card-text">Some example text.</p>
					</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-6 highlight">
						<img class="art img-fluid" src="../public/images/news_image_1.png" alt="Uniben đầu tư xây dựng thêm một nhà máy thực phẩm hiện đại">
						<div class="card-img-overlay">
						<h4 class="card-title">John Doe</h4>
						<p class="card-text">Some example text.</p>
					</div>
					</div>
					<div class="col-6 highlight">
						<img class="art img-fluid" src="../public/images/news_image_1.png" alt="Uniben đầu tư xây dựng thêm một nhà máy thực phẩm hiện đại">
						<div class="card-img-overlay">
						<h4 class="card-title">John Doe</h4>
						<p class="card-text">Some example text.</p>
					</div>
					</div>
				</div>
				

			</div>
		</div>
        {{#each post}}
		<div class="row">
			<div class="col-4">
				<img class="art img-fluid" src="../public/images/news_image_1.png" alt="Uniben đầu tư xây dựng thêm một nhà máy thực phẩm hiện đại">
			</div>
			<div class="col-8">
				<h4 class="title_news"><a href="#">Uniben đầu tư xây dựng thêm một nhà máy thực phẩm hiện đại</a></h4>
				<p>13/04/2019</p>
				<p class="description">Nhà máy mới có vốn đầu tư 1.000 tỷ đồng, sản xuất hai nhãn hàng 3 Miền và Reeva cho thị trường trong nước lẫn xuất khẩu.</p>
			</div>
		</div>
        {{/each}}

		


		<ul class="pagination justify-content-end">
			<li class="page-item"><a class="page-link" href="#"><</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">></a></li>
		</ul>

		<div class="col-12 category">
			<h4>Danh mục</h4>
			<ul class="category-list">
				<li>
					<a href="#">Travel
						<span class="ts-orange-bg">10</span>
					</a>
				</li>
				<li>
					<a href="#">Sports
						<span class="ts-green-bg">25</span>
					</a>
				</li>
				<li>
					<a href="#">Travel
						<span class="ts-orange-bg">10</span>
					</a>
				</li>
				<li>
					<a href="#">Fashion
						<span class="ts-pink-bg">10</span>
					</a>
				</li>
				<li>
					<a href="#">Technology
						<span class="ts-blue-bg">10</span>
					</a>
				</li>

			</ul>
		</div>
		
	</div>