@media only screen and (max-width: 1920px) {
    #img1 {
        height: 386px;
    }
}
@media only screen and (min-width: 1440px) {
    #img1 {
        height: 385.3px;
    }
}
@media only screen and (max-width: 1024px) {
    #img1 {
        height: 320px;
    }
}

@media only screen and (max-width: 768px) {
    #img1 {
        height: 235px;
    }
}
@media only screen and (max-width: 425px) {
    #img1 {
        height: 128px;
    }
}

.card-img-overlay {
    background: #564d4d6b;
    height: 50%;
    bottom: 0;  
    margin: 0 20px 0 15px;
    top: auto;
    transition: 0.3s;
}

.highlight:hover .card-img-overlay  { 
    background: #000;
}



.card-title {
    color: #FFF;
}

.card-text {
    color: #FFF;
}

.news-heading{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
    margin-top: 0;
}

.news-heading a {
    transition: 0.5s;
}
.news-heading a:hover{
    text-decoration: none;
}

.entry-meta{
    display: inline-block;
    position: relative;
    font-weight: 500;
    margin-right: 8px;
    color: rgba(72, 72, 72, 0.5);
}
