/*  SHOULDNT TOUCH DOUCHEBAGS*/
body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
.framed{
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 200px;
    grid-gap: 2%;
    grid-template-areas:
        /* "h h h h h h h h h h h h" */
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
 /* End of Scroll bar  */

/* HEADER */
#h{
    grid-area: h;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}
#a{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-family: 'Dokdo', cursive;
    font-size: 3.5rem;
    letter-spacing: 1px;
    user-select: none;
    cursor: pointer;
    font-weight: 400;
}
/* END HEADER */

/* Nav-bar*/
#m{	
    grid-area: m; 	
    display: flex;	
}	

#m > a {	
    color: black;	
    text-decoration: none;	
    text-align: center;	
    cursor: pointer;	
    flex: 1;	
}		

/* MENU */
.search-account{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 0 5px;
    align-items: flex-end;  
}
.search-box{
    all: unset;
    align-self: flex-end;
    border-bottom: 1px solid black;
    padding: 10px 5px;
}
.search-icon{
    margin-bottom: 10px;
}
.account-icon{
    align-self: flex-end;
    font-size: 1.5rem;
    margin-left: 15px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-toggle::after{
    display: none;
}

.navbar-nav .nav-item{
    margin-left: 25px;
}
/* End of MENU */

#c{
    grid-area: c;
    overflow: hidden;
}



/* Footer */
.f{
    grid-area: f;
    background-color: #e6e6e6;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sm-logo{
    font-size: 2.5rem;
}
.des-info{
    letter-spacing: 1px;
}
#footer-btn-group{
    display: flex;
}
/* End Of Footer */